<!--

  <h1> Pre Trip Survey </h1>

  <%= form_for @trip do |f| %>
  <div>
    <%= f.label :destination %>
    <%= f.select :destination, CS.cities(:ca, :us)  %>
  </div>
  <div>
    <%= f.label :start_date, :class => "control-label"%>
    <%= f.date_select :start_date, :start_year => Date.today.year, :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }  %>
  </div>
  <div>
    <%= f.label :end_date, :class => "control-label"%>
    <%= f.date_select :end_date, :start_year => Date.today.year,:prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }  %>
  </div>

  <div>
    <%= f.label :budget_in_usd %>
    <%= f.number_field :budget, :class => 'text_field', :step => 'any' %>
  </div>

  <div>
    <%= f.label :hours_per_day %>
    <%= f.number_field :hours_per_day, :class => 'text_field', :step => 'any' %>
  </div>

  <%= fields_for @interest do |u| %>
  <div>
      <%= u.label :theme_park %>
      <%= u.check_box :theme_park, {}, "true" %>

      <%= u.label :museum %>
      <%= u.check_box :museum, {}, "true" %>

      <%= u.label :beach %>
      <%= u.check_box :beach, {}, "true" %>

      <%= u.label :shopping %>
      <%= u.check_box :shopping, {}, "true" %>

      <%= u.label :sight_landmark %>
      <%= u.check_box :sight_landmark, {}, "true" %>

      <%= u.label :arean_stadium %>
      <%= u.check_box :arean_stadium, {}, "true" %>

      <%= u.label :school %>
      <%= u.check_box :school, {}, "true" %>
  </div>



   <% end %>




  <div>
    <%= f.submit class: "btn btn-primary" %>
  </div>

  <% end %> -->


<!-- <div class="trip-background"> -->
  <%= form_for @trip do |f| %>

  <div class="container auth">
      <h1 class="text-center"> Pre-trip Survey</h1>
      <div id="big-form" class="well auth-box">
        <form>
          <fieldset>

            <!-- Form Name -->
            <legend> <small>Let us do the work!</samll></legend>

            <!-- <div class="btn-group">
              <a href="index.html" class="btn btn-default">All</a>
              <a href="example1.html" class="btn btn-default">example 1</a>
              <a href="example2.html" class="btn btn-default">example 2</a>
            </div> -->


            <!-- Text input-->
            <div class="form-group">
              <%= f.label :destination, class:" control-label" %>
              <!-- <label class=" control-label" for="textinput">Username</label> -->
              <div class="">
                <!-- <input id="textinput" name="textinput" placeholder="Username" class="form-control input-md" type="text"> -->
                <%= f.select :destination, CS.cities(:ca, :us)  %>
                <!-- <span class="help-block">help</span> -->
              </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
              <%= f.label :start_date, :class => "control-label"%>

              <div class="">

                <%= f.text_field :start_date, placeholder: "DD/MM/YYYY", id:"datetimepicker" %>
                <!-- <%= f.date_select :start_date, :start_year => Date.today.year, :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }  %> -->

                <span> ----------- </span>

                <%= f.label :end_date, :class => "control-label"%>
                <%= f.text_field :end_date, placeholder: "DD/MM/YYYY", id:"datetimepicker2" %>
                <!-- <%= f.date_select :end_date, :start_year => Date.today.year,:prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }  %> -->
              </div>

            </div>

            <div class="form-group">
              <%= f.label :budget_in_usd %>
              <div class= "">
                <%= f.number_field :budget, :class => 'text_field', :step => 'any' %>
              </div>

            </div>

            <div class="form-group">
              <%= f.label :average_hours_per_day %>
              <div class= "">
                <%= f.number_field :hours_per_day, :class => 'text_field', :step => 'any' %>
              </div>
            </div>




            <%= fields_for @interest do |u| %>
            <%= u.label :choose_from_the_following_which_interest_you %>
            <div class="form-group">
              <div class="">
                <span>1. </span>
                <%= u.label :theme_park %>
                <%= u.check_box :theme_park, {}, "true" %>
                <span>2. </span>
                <%= u.label :museum %>
                <%= u.check_box :museum, {}, "true" %>
                <span>3. </span>
                <%= u.label :beach %>
                <%= u.check_box :beach, {}, "true" %>
                <span>4. </span>
                <%= u.label :shopping %>
                <%= u.check_box :shopping, {}, "true" %>
                <span>5. </span>
                <%= u.label :sight_landmark %>
                <%= u.check_box :sight_landmark, {}, "true" %>
                <span>6. </span>
                <%= u.label :arean_stadium %>
                <%= u.check_box :arean_stadium, {}, "true" %>
                <span>7. </span>
                <%= u.label :school %>
                <%= u.check_box :school, {}, "true" %>
              </div>
            </div>

            <div>
              <%= f.submit class: "btn btn-primary" %>
            </div>


             <% end %>



<% end %>
<!-- </div> -->
<script type="text/javascript">
// jQuery('#datetimepicker').datetimepicker();
jQuery('#datetimepicker').datetimepicker({
 timepicker:false,
 format:'d/m/Y',
 minDate:'0'//tommorow is maximum date calendar
});

// jQuery('#datetimepicker').datetimepicker();
jQuery('#datetimepicker2').datetimepicker({
 timepicker:false,
 format:'d/m/Y',
 minDate:'0'//tommorow is maximum date calendar
});
</script>
