<!-- <div class="show-background"> -->


<div class="container col-md-7">
<p>.</p>

    <div class="alert alert-warning">
        <h4><%= @user %>'s trip to <%= @trip.destination %></h4>
        <p>This is a beta testing version by Jefferson Choi.</p>
    </div>

    <div class="agenda">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Event</th>
												<th>Address</th>
                    </tr>
                </thead>

								<% @itinerary.each do |itinerary| %>
									<% itinerary.events.each do |event| %>
                <tbody>
                    <!-- Single event in a single day -->
                    <tr>
                        <td class="agenda-date" class="active" rowspan="1">
                            <div class="dayofmonth"><%= event.start_time.strftime("%d") %></div>
                            <div class="dayofweek"><%= event.start_time.strftime("%A") %></div>
                            <div class="shortdate text-muted"><%= event.start_time.strftime("%b, %Y") %></div>
                        </td>
                        <td class="agenda-time">
                            <%= event.start_time.strftime("%I:%M%p") %> --- <%= event.end_time.strftime("%I:%M%p") %>
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <%= event.node.node_name %>
                            </div>
                        </td>
												<td class="agenda-address">
                            <div class="agenda-event">
                                <%= event.node.address %>
                            </div>
                        </td>
                    </tr>
										<% end %>
									<% end %>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="map-container col-md-5">
  <div id="googleMap"></div>
</div>


<script>google.maps.event.addDomListener(window, 'load', initialize);
google.maps.event.addDomListener(window, 'page:load', initialize);
function initialize() {
  var url = window.location.origin + window.location.pathname + ".json"
  $.get(url, function(results){

    var bounds = new google.maps.LatLngBounds()

    var infowindow = new google.maps.InfoWindow();


    var mapProperties = {
    // center:new google.maps.LatLng(34.0129821,-118.495196),
    zoom: 5,
    mapTypeId: google.maps.MapTypeId.ROADMAP
    }

    var markers = []



    var map=new google.maps.Map(document.getElementById("googleMap"), mapProperties);
    for (i = 0; i < results.length; i+=1){
        var markerPosition = new google.maps.LatLng(results[i]["lat"], results[i]["long"])
        var marker=new google.maps.Marker({
            position:markerPosition,
            animation:google.maps.Animation.BOUNCE //animates the marker
        });
        bounds.extend(markerPosition);
        map.fitBounds(bounds);
        markers.push(marker);

        google.maps.event.addListener(marker, 'mouseover', function(marker, i) {
            return function () {
              var content = results[i].node_name;
              infowindow.setContent(content);
              infowindow.open(map, marker);
                  };
                }(marker,i));
        marker.setMap(map);
      }
  })
};
</script>
