<h1> <%= @user %> 's travel itineraries to  <%= @trip.destination %></h1>

<!-- <table>
	<tr>
		<th> First Name </th>
		<th> Last Name </th>
    <th> Email </th>
    <th> Date of Birth </th>

	</tr> -->
<!--
		<tr> -->
<p> Destination: 	 <%= @trip.destination %> </p>
			<br>
<p>	Travel dates: 	 <%= @trip.start_date %>      ---      <%= @trip.end_date %>  </p>
			<br>
     <%= @trip.budget %>

<p>
<% @itinerary.each do |itinerary| %>

		<%= itinerary.id %>
		<% itinerary.events.each do |event| %>
				<!-- <%= event.node.inspect %> -->
				if event.node_name
				<%= event.node.methods %>

				

				<% end %>



		<% end %>

<% end %>
</p>

		<!-- </tr> -->
<!-- </table> -->
<%= link_to "Back to Trips' Lists", trips_path %>
