<div class="show-background">

<div class="container">
<p>.</p>

    <div class="alert alert-warning">
        <h4><%= @user %>'s trip to <%= @trip.destination %></h4>
        <p>In order to get the lines between cells looking their best without any JavaScript, I had to use tables for this design. While this could be done in ".row", doing so will cause issues when displaying the vertical borders between cells, which is a compromise I wasn't willing to make this time.'</p>
    </div>

    <hr />

    <div class="agenda">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Event</th>
												<th>Address</th>
                    </tr>
                </thead>

								<% @itinerary.each do |itinerary| %>
									<% itinerary.events.each do |event| %>
                <tbody>
                    <!-- Single event in a single day -->
                    <tr>
                        <td class="agenda-date" class="active" rowspan="1">
                            <div class="dayofmonth"><%= event.start_time.strftime("%d") %></div>
                            <div class="dayofweek"><%= event.start_time.strftime("%A") %></div>
                            <div class="shortdate text-muted"><%= event.start_time.strftime("%b, %Y") %></div>
                        </td>
                        <td class="agenda-time">
                            <%= event.start_time.strftime("%I:%M%p") %> --- <%= event.end_time.strftime("%I:%M%p") %>
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <%= event.node.node_name %>
                            </div>
                        </td>
												<td class="agenda-address">
                            <div class="agenda-event">
                                <%= event.node.address %>
                            </div>
                        </td>
                    </tr>
										<% end %>
									<% end %>

                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
