<!-- <h1>Nodes</h1>


<table>
  <tr>
    <th> Name </th>
    <th> Address </th>
  </tr>
  <% @nodes.each do |node| %>
  <tr>
    <td><%= node.node_name %></td>
    <td><%= node.address %></td>
    <td><img src="<%= node.picture %>" ></td>
  </tr>
  <% end %>
</table> -->

<h2> Attractions </h2>

<%= form_tag nodes_path, style: "text-align:center;",:method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search for attractions",class: "btn btn-default", :name => nil %>
    <% if params[:search].present? %>
      <%= link_to "Return to List", nodes_path, class: "btn btn-default" %>
      <% end %>
<% end %>



<!-- <%= form_tag nodes_path, class: "form-inline", style: "padding-top: 60px; text-align:center;", method: :get do %> -->
  <!-- <div class="input-group input-group-lg" > -->
  <!-- <% if params[:search].present? %> -->

    <!-- <%= text_field_tag :search, params[:search], class: "form-control", id: "node_search", autocomplete: "on" %> -->

    <!-- <div class="input-group-btn"> -->
      <!-- <%= link_to "clear", nodes_path, class: "btn btn-default" %> -->
    <!-- </div> -->
    <!-- <div class="input-group-btn"> -->
      <!-- <%= submit_tag "Search", class: "btn btn-primary" %> -->
    <!-- </div> -->
  <!-- <% end %> -->
  <!-- </div> -->
<!-- <% end %> -->


 <% @nodes.each do |node| %>

<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <h4></h4>
        </div>
    </div>
    <hr>
    <!-- Begin of rows -->
    <div class="row carousel-row">
        <div class="col-xs-8 col-xs-offset-2 slide-row">
            <div id="carousel-1" class="carousel slide slide-carousel" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-1" data-slide-to="1"></li>
                <li data-target="#carousel-1" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="<%= node.picture %>" >
                </div>
                <!-- <div class="item">
                    <img src="http://lorempixel.com/150/150?rand=2" alt="Image">
                </div>
                <div class="item">
                    <img src="http://lorempixel.com/150/150?rand=3" alt="Image">
                </div> -->
              </div>
            </div>
            <div class="slide-content">
                <h4><%= node.node_name %></h4>
                <p>   <%= node.address %> </p>
            </div>
            <div class="slide-footer">
                <span class="pull-right buttons">
                <i class="fa fa-fw fa-eye"></i> <%= link_to "see what's around!", node_path(node), class:"btn btn-sm btn-default"%>
                    <!-- <button class="btn btn-sm btn-default">Show</button> -->
                </span>
            </div>
        </div>
    </div>


    </div>
</div>

<% end %>
