<!DOCTYPE html>
<html>
<head>
  <title>mySmartPlanner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="http://maps.googleapis.com/maps/api/js"> </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  <%= csrf_meta_tags %>
</head>
  <body class="<%=params[:controller]%>-controller <%=params[:action]%>-action">
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">mySmartPlanner</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><%= link_to "Home", root_path%></li>
              <li><%= link_to "Attraction", nodes_path%></li>
              <% if current_user %>
                  <li><%= link_to "New Trip", new_trip_path%></li>
              <% end %>
<!--               <li><a href="#">Page B</a></li> -->

            </ul>
            <ul class="nav navbar-nav navbar-right">

            <% if current_user %>
              <li class="navbar-text"> <%= current_user.first_name %> </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account Settings <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Edit My Account", edit_user_path(current_user)%></li>
                    <li><%= link_to "View My Trips ", trips_path%></li>
<!--                     <li>Page C - 3</li> -->
                  </ul>
              </li>
              <li><%= link_to ' Log Out', logout_path, method: :delete, class:"glyphicon glyphicon-log-in" %></li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_path, class:"glyphicon glyphicon-user" %></li>
              <li><a href="#" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in "></span> Login</a></li>
            <% end %>
            </ul>
        </div>
      </div>
  </nav>


  <form action="/login" method="post" id="loginForm">
    <div class="modal fade" id="loginModal" tabindex="-1">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
              <div class="modal-header">
                <%= form_for(:login) do |f| %>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login</h4>
              </div>
              <div class="modal-body">
            <div class="form-group">
              <label class="control-label" for="email">User Email</label>
                <%= f.text_field :email, class: 'form-control', placeholder: "Enter your email"%>
            </div>
            <div class="form-group">
              <label class="control-label" for="password">Password</label>
              <%= f.password_field :password, class: 'form-control', placeholder: "Enter your password" %>
            </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <%= f.submit "Log in", class: "btn btn-primary" %>
              </div>
              <% end %>
          </div>
        </div>
    </div>
  </form>

  <% flash.each do |key, value| %>
      <div class="warning-div alert alert-<%= key %>">
        <%= value %>
      </div>
  <% end %>

<%= yield %>

</body>
</html>
