<!DOCTYPE html>
<html>
<head>
  <title>mySmartPlanner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">mySmartPlanner</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Page A</a></li>
              <li><a href="#">Page B</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">

            <% if current_user %>
              <li class="navbar-text"> <%= current_user.first_name %> </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account Settings <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Edit my account</a></li>
                    <li><a href="#">View my itinerary</a></li>
                    <li><a href="#">Page C - 3</a></li>
                  </ul>
              </li>
              <li><%= link_to 'Log Out', logout_path, method: :delete, class:"glyphicon glyphicon-log-in" %></li>
            <% else %>
              <li><a href="/users/new"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <% end %>
            </ul>
        </div>
      </div>
  </nav>

  <div class="container">
    <div class="jumbotron">
      <h1>Hello, welcome to my website!</h1>
      <p>Watch this page grow as we use more and more components from Bootstrap!</p>
      <a href="#" class="btn btn-primary btn-lg">More Detail <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>

  <div class="container">

  </div>









  <% if current_user %>
    Logged in as: <%= current_user.first_name %> <%= link_to 'Log Out', logout_path, method: :delete %>
  <% else %>
    <%= link_to 'Log In', login_path %>
    <%= link_to 'Sign Up', new_user_path %>
  <% end %>
<%= yield %>

</body>
</html>
